.button {
    -fx-background-color: #E5D3A3;
    -fx-text-fill: #000;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255, 255, 0.5), 10, 0, 10, 10);
    -fx-background-radius: 15;
    -fx-cursor: hand;
}
